@font-face {
  font-family: 'Gilroy_extrabold';
  src: url("../fonts/Gilroy-ExtraBold.eot");
  src: url("../fonts/Gilroy-ExtraBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff"), url("../fonts/Gilroy-ExtraBold.ttf") format("truetype"), url("../fonts/Gilroy-ExtraBold.svg#../fonts/Gilroy-ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy';
  src: url("../fonts/Gilroy-Bold.eot");
  src: url("../fonts/Gilroy-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff"), url("../fonts/Gilroy-Bold.ttf") format("truetype"), url("../fonts/Gilroy-Bold.svg#../fonts/Gilroy-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy_bold_italic';
  src: url("../fonts/Gilroy-BoldItalic.eot");
  src: url("../fonts/Gilroy-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff"), url("../fonts/Gilroy-BoldItalic.ttf") format("truetype"), url("../fonts/Gilroy-BoldItalic.svg#../fonts/Gilroy-BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Gilroy_semibold';
  src: url("../fonts/../fonts/Gilroy-SemiBold.eot");
  src: url("../fonts/Gilroy-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff"), url("../fonts/Gilroy-SemiBold.ttf") format("truetype"), url("../fonts/Gilroy-SemiBold.svg#../fonts/Gilroy-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std';
  src: url("../fonts/CircularStd-Medium.eot");
  src: url("../fonts/CircularStd-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Medium.woff2") format("woff2"), url("../fonts/CircularStd-Medium.woff") format("woff"), url("../fonts/CircularStd-Medium.ttf") format("truetype"), url("../fonts/CircularStd-Medium.svg#../fonts/CircularStd-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Book';
  src: url("../fonts/CircularStd-Book.eot");
  src: url("../fonts/CircularStd-Book.eot?#iefix") format("embedded-opentype"), url("../fonts/CircularStd-Book.woff2") format("woff2"), url("../fonts/CircularStd-Book.woff") format("woff"), url("../fonts/CircularStd-Book.ttf") format("truetype"), url("../fonts/CircularStd-Book.svg#../fonts/CircularStd-Book") format("svg");
  font-weight: 450;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Circular Std Book italic';
  src: url("../fonts/CircularStd-BookItalic.woff2") format("woff2"), url("../fonts/CircularStd-BookItalic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
  font-family: circular std book;
  font-weight: 450;
  font-size: 14px;
  color: #3F3232;
  background-color: #FFFEFC;
  position: relative;
}

.wrapper {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

[class*="__container"] {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 120px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: calc(80px + 40 * ((100vw - 320px) / 1280));
}

.header__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.logo__img {
  width: 110px;
  height: 30px;
  width: calc(95px + 15 * ((100vw - 320px) / 1280));
  height: calc(25px + 5 * ((100vw - 320px) / 1280));
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 62px;
  gap: calc(20px + 42 * ((100vw - 320px) / 1280));
}

.menu__link-search {
  width: 24px;
  width: calc(18px + 6 * ((100vw - 320px) / 1280));
}

.menu__link-cart {
  width: 22px;
  width: calc(16px + 6 * ((100vw - 320px) / 1280));
}

.menu__link-menu {
  width: 20px;
  height: 17px;
  width: calc(14px + 6 * ((100vw - 320px) / 1280));
  height: calc(14px + 3 * ((100vw - 320px) / 1280));
}

.explore-menu {
  padding: 148px 0 25px 0;
  padding-top: calc(90px + 58 * ((100vw - 320px) / 1280));
  padding-bottom: calc(15px + 10 * ((100vw - 320px) / 1280));
}

.explore-menu__container {
  position: relative;
}

.explore-menu__title-h2 {
  margin: 0 0 16px 0;
  margin-bottom: calc(12px + 4 * ((100vw - 320px) / 1280));
}

.explore-menu__content {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: relative;
}

.explore-menu__image img {
  width: 73%;
  height: 625px;
  position: absolute;
  top: 0px;
  right: 0px;
  height: calc(284px + 341 * ((100vw - 320px) / 1280));
}

.block-text__title-h2 {
  font-family: Gilroy_semibold;
  font-size: 24px;
  color: #FF9401;
  line-height: 30px;
  font-size: calc(12px + 12 * ((100vw - 320px) / 1280));
  line-height: calc(15px + 15 * ((100vw - 320px) / 1280));
}

.block-text__title-h1 p {
  font-family: Gilroy_extrabold;
  font-size: 96px;
  display: inline-block;
  font-weight: 800;
  color: #232323;
  line-height: 108px;
  line-height: calc(50px + 58 * ((100vw - 320px) / 1280));
  font-size: calc(70px + 26 * ((100vw - 320px) / 1280));
}

.block-text__center {
  text-align: center;
}

.block-text__title-img-food {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 62px;
  height: calc(45px + 17 * ((100vw - 320px) / 1280));
}

.block-text__title-img-mood {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  height: 52px;
  height: calc(40px + 12 * ((100vw - 320px) / 1280));
}

.block-text__text {
  font-size: 20px;
  margin-top: 33px;
  font-size: calc(14px + 6 * ((100vw - 320px) / 1280));
  margin-top: calc(15px + 18 * ((100vw - 320px) / 1280));
}

.block-text__text {
  margin-bottom: 44px;
  margin-bottom: calc(20px + 24 * ((100vw - 320px) / 1280));
}

.block-text__image {
  height: 100px;
  display: none;
  height: calc(50px + 50 * ((100vw - 320px) / 1280));
}

.block-text__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
  margin-bottom: 131px;
  margin-bottom: calc(30px + 101 * ((100vw - 320px) / 1280));
  gap: calc(15px + 15 * ((100vw - 320px) / 1280));
}

.icon-Facebook {
  color: #2E2E2E;
  width: 9px;
  height: 16px;
}

.icon-Instagram {
  color: #2E2E2E;
  width: 16px;
  height: 15px;
}

.icon-Twitter {
  color: #2E2E2E;
  width: 19px;
  height: 16px;
}

.icon-Facebook:hover {
  color: #f70a0a;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-Instagram:hover {
  color: #f70a0a;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-Twitter:hover {
  color: #f70a0a;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.button {
  display: inline-block;
  font-weight: 500;
  text-transform: capitalize;
  font-size: 20px;
  line-height: 30px;
  color: #FFFFFF;
  padding: 16px 32px;
  border-radius: 31px;
  background-color: #FF9401;
  border: none;
  -webkit-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
  cursor: pointer;
  margin-bottom: 60px;
  margin-bottom: calc(25px + 35 * ((100vw - 320px) / 1280));
  padding-top: calc(10px + 6 * ((100vw - 320px) / 1280));
  padding-bottom: calc(10px + 6 * ((100vw - 320px) / 1280));
  padding-right: calc(25px + 7 * ((100vw - 320px) / 1280));
  padding-left: calc(25px + 7 * ((100vw - 320px) / 1280));
}

.button:hover {
  background-color: #da8002;
}

.about {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 148, 1, 0.05)), to(rgba(255, 237, 211, 0)));
  background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about__title-h2 {
  margin-bottom: 24px;
  margin-bottom: calc(15px + 9 * ((100vw - 320px) / 1280));
}

.about__title-h3 {
  font-family: Gilroy;
  font-size: 52px;
  line-height: 60px;
  color: #2E2E2E;
  font-size: calc(25px + 25 * ((100vw - 320px) / 1280));
  line-height: calc(30px + 30 * ((100vw - 320px) / 1280));
}

.about__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
}

.about__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.about__block-text {
  padding-left: 15px;
}

.about__block-text > .block-text__title-h2 {
  margin-top: 142px;
  margin-bottom: 24px;
  margin-top: calc(30px + 112 * ((100vw - 320px) / 1280));
  margin-bottom: calc(8px + 16 * ((100vw - 320px) / 1280));
}

.about__block-text > .block-text__title-h3 {
  margin-bottom: 21px;
  margin-bottom: calc(7px + 14 * ((100vw - 320px) / 1280));
}

.about__block-text > .block-text__text {
  margin-bottom: 48px;
  margin-bottom: calc(17px + 31 * ((100vw - 320px) / 1280));
}

.about__block-text > .block-text__button-link {
  margin-bottom: 140px;
  margin-bottom: calc(49px + 91 * ((100vw - 320px) / 1280));
}

.image__play {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 21px;
  bottom: 31%;
  -webkit-filter: drop-shadow(0px 10px 20px rgba(255, 148, 1, 0.15));
          filter: drop-shadow(0px 10px 20px rgba(255, 148, 1, 0.15));
  -webkit-transform: matrix(1, -0.04, 0.04, 1, 0, 0);
          transform: matrix(1, -0.04, 0.04, 1, 0, 0);
  width: calc(40px + 40 * ((100vw - 320px) / 1280));
  height: calc(40px + 40 * ((100vw - 320px) / 1280));
}

.features {
  position: relative;
}

.features__titile-h2 {
  margin-top: 62px;
  margin-top: calc(30px + 32 * ((100vw - 320px) / 1280));
}

.features__block-text > .block-text__title-h3 {
  margin-top: 13px;
  margin-bottom: 43px;
  margin-bottom: calc(20px + 23 * ((100vw - 320px) / 1280));
}

.features__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 971px;
  margin: 0 auto;
  gap: 118px;
  gap: calc(80px + 38 * ((100vw - 320px) / 1280));
}

.features__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.block-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.block-card__icon {
  margin-bottom: 51px;
  margin-bottom: calc(25px + 26 * ((100vw - 320px) / 1280));
}

.block-card__icon:last-child {
  margin-bottom: 41px;
  margin-bottom: calc(20px + 21 * ((100vw - 320px) / 1280));
}

.block-card__title {
  font-family: Gilroy;
  font-size: 24px;
  line-height: 30px;
  color: #2E2E2E;
  margin-bottom: 19px;
  font-size: calc(15px + 9 * ((100vw - 320px) / 1280));
  line-height: calc(20px + 10 * ((100vw - 320px) / 1280));
  margin-bottom: calc(12px + 7 * ((100vw - 320px) / 1280));
}

.block-card__text {
  font-size: 18px;
  line-height: 28.8px;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1280));
  line-height: calc(18px + 10.8 * ((100vw - 320px) / 1280));
}

.recipes {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 148, 1, 0.05)), to(rgba(255, 237, 211, 0)));
  background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
  position: relative;
}

.recipes__title-h2 {
  margin-top: 62px;
  margin-bottom: 13px;
  margin-top: calc(32px + 30 * ((100vw - 320px) / 1280));
  margin-bottom: calc(8px + 5 * ((100vw - 320px) / 1280));
}

.recipes__title-h3 {
  font-family: Gilroy_semibold;
  font-size: 48px;
  margin-bottom: 43px;
  font-size: calc(24px + 24 * ((100vw - 320px) / 1280));
  margin-bottom: calc(20px + 23 * ((100vw - 320px) / 1280));
}

.recipes__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1170px;
  margin: 0 auto;
  gap: 54px;
  gap: calc(30px + 24 * ((100vw - 320px) / 1280));
}

.recipes__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.333%;
          flex: 0 1 33.333%;
}

.recipes__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.block-card {
  margin-bottom: 72px;
  margin-bottom: calc(36px + 36 * ((100vw - 320px) / 1280));
}

.block-card__image {
  margin-bottom: 10px;
}

.block-card__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 140px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
  gap: calc(80px + 60 * ((100vw - 320px) / 1280));
  margin-bottom: calc(12px + 8 * ((100vw - 320px) / 1280));
}

.block-card__name {
  font-family: Circular Std;
  font-size: 20px;
  line-height: 60px;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1280));
  line-height: calc(25px + 35 * ((100vw - 320px) / 1280));
}

.block-card__rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2px;
}

.block-card__subinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 175px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: calc(100px + 75 * ((100vw - 320px) / 1280));
}

.block-card__price {
  font-family: Gilroy_bold_italic;
  font-size: 18px;
  color: #FF9401;
  font-size: calc(12px + 6 * ((100vw - 320px) / 1280));
}

.block-card__button {
  margin-bottom: 26px;
  margin-bottom: calc(15px + 11 * ((100vw - 320px) / 1280));
}

.rating__number {
  font-family: Gilroy_semibold;
  font-size: 16px;
  line-height: 60px;
  color: #818181;
}

.button-cart {
  padding: 0 14px 0 18px;
  border-radius: 15px;
  background: rgba(196, 196, 196, 0.26);
  border: none;
  font-family: Circular Std;
  font-size: 10px;
  color: #696969;
}

.app {
  margin-top: 131px;
  position: relative;
  margin-top: calc(65px + 66 * ((100vw - 320px) / 1280));
}

.app__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 111px;
  gap: calc(50px + 61 * ((100vw - 320px) / 1280));
}

.app__media {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.app__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.app__title-h2 {
  margin-bottom: 23px;
  margin-top: 101px;
  margin-top: calc(70px + 31 * ((100vw - 320px) / 1280));
  margin-bottom: calc(15px + 8 * ((100vw - 320px) / 1280));
}

.app__title-h3 {
  font-size: 48px;
  margin-bottom: 18px;
  font-size: calc(30px + 18 * ((100vw - 320px) / 1280));
  margin-bottom: calc(12px + 6 * ((100vw - 320px) / 1280));
}

.block-text__app-link {
  display: inline-block;
  margin-bottom: 75px;
  margin-bottom: calc(30px + 45 * ((100vw - 320px) / 1280));
}

.app__content > .block-text__text {
  margin-bottom: 47px;
  margin-bottom: calc(23px + 24 * ((100vw - 320px) / 1280));
}

.feedback {
  margin-top: 137px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 148, 1, 0.05)), to(rgba(255, 237, 211, 0)));
  background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
  margin-bottom: 171px;
  margin-top: calc(65px + 72 * ((100vw - 320px) / 1280));
  margin-bottom: calc(85px + 86 * ((100vw - 320px) / 1280));
}

.feedback_text {
  font-family: Circular std book italic;
  margin-bottom: 45px;
  margin-bottom: calc(25px + 20 * ((100vw - 320px) / 1280));
}

.feedback__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 179px;
  gap: calc(90px + 89 * ((100vw - 320px) / 1280));
}

.feedback__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.feedback__title-h2 {
  margin-top: 53px;
  margin-bottom: 23px;
  margin-top: calc(25px + 28 * ((100vw - 320px) / 1280));
  margin-bottom: calc(12px + 11 * ((100vw - 320px) / 1280));
}

.feedback__title-h3 {
  font-family: Gilroy;
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 30px;
  margin-bottom: calc(15px + 15 * ((100vw - 320px) / 1280));
  font-size: calc(24px + 24 * ((100vw - 320px) / 1280));
  line-height: calc(30px + 30 * ((100vw - 320px) / 1280));
}

.feedback__slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 148px;
  gap: calc(75px + 73 * ((100vw - 320px) / 1280));
}

.feedback__author {
  padding: 0 2px;
}

.feedback__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding-top: 30px;
  padding-top: calc(15px + 15 * ((100vw - 320px) / 1280));
}

.slider__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.arrow__left {
  width: 14px;
  height: 14px;
}

.arrow__right {
  width: 31px;
  height: 31px;
  padding-top: 8px;
}

.footer {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 148, 1, 0.05)), to(rgba(255, 237, 211, 0)));
  background: linear-gradient(180deg, rgba(255, 148, 1, 0.05) 0%, rgba(255, 237, 211, 0) 100%);
  position: relative;
}

.footer_link {
  font-size: 16px;
  line-height: 30px;
  color: #6A5C5C;
  font-size: calc(10px + 6 * ((100vw - 320px) / 1280));
  line-height: calc(15px + 15 * ((100vw - 320px) / 1280));
}

.footer__link:hover {
  color: #f70a0a;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 170px;
  gap: calc(85px + 85 * ((100vw - 320px) / 1280));
}

.footer__contacts {
  margin-left: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 22px;
  margin-left: calc(22px + 22 * ((100vw - 320px) / 1280));
  gap: calc(11px + 11 * ((100vw - 320px) / 1280));
}

.footer__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 105px;
  margin-bottom: 40px;
  gap: calc(52px + 53 * ((100vw - 320px) / 1280));
  margin-bottom: calc(20px + 20 * ((100vw - 320px) / 1280));
}

.footer__column {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 25%;
          flex: 0 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: calc(11px + 10 * ((100vw - 320px) / 1280));
}

.footer__title-h4 {
  font-family: Gilroy_semibold;
  font-size: 20px;
  line-height: 30px;
  font-size: calc(10px + 10 * ((100vw - 320px) / 1280));
  line-height: calc(15px + 15 * ((100vw - 320px) / 1280));
}

.footer__copyright {
  font-size: 12px;
  line-height: 14px;
}

.link-decoration {
  text-decoration: underline;
  font-family: Circular Std;
  font-size: 16px;
  line-height: 30px;
  font-size: calc(8px + 8 * ((100vw - 320px) / 1280));
  line-height: calc(15px + 15 * ((100vw - 320px) / 1280));
}

.contacts__mail {
  cursor: pointer;
}

.contacts__web {
  cursor: pointer;
}

.icon-mail {
  color: #3F3232;
  width: 19px;
  height: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.icon-web {
  color: #3F3232;
  width: 17px;
  height: 17px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.icon-heart {
  width: 10px;
  height: 8px;
}

.icon-mail:hover {
  color: #f70a0a;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  padding-right: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
}

.icon-web:hover {
  color: #f70a0a;
  -webkit-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.absolute {
  position: absolute;
}

.absolute__image-1 {
  top: 0;
  right: 28%;
  z-index: -2;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.absolute__image-2 {
  left: 0;
  top: -19%;
  -webkit-transform: rotate(-26.39deg);
          transform: rotate(-26.39deg);
  z-index: -2;
}

.absolute__image-3 {
  right: 0;
  top: -19%;
  z-index: -2;
}

.absolute__image-4 {
  z-index: -2;
  right: 0;
  top: -28%;
}

.absolute__image-5 {
  z-index: -2;
  right: 0;
  top: -58%;
}

.absolute__image-6 {
  top: 0;
  left: 42%;
  width: 251px;
  height: 177px;
  z-index: -2;
}

.absolute__image-7 {
  z-index: -2;
  left: 0;
  top: -28%;
  -webkit-transform: matrix(1.01, -0.13, -0.13, 0.99, -3, -49);
          transform: matrix(1.01, -0.13, -0.13, 0.99, -3, -49);
}

.absolute__image-8 {
  z-index: -2;
  -webkit-transform: rotate(-9deg);
          transform: rotate(-9deg);
  bottom: -19%;
  left: -2%;
}

@media screen and (max-width: 1023.98px) {
  .explore-menu__image {
    display: none;
  }
  .about__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .about__media {
    max-width: 65%;
    margin: 0 auto;
  }
  .about__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .about__title-h2 {
    margin-top: 20px;
  }
  .about__block-text > .block-text__button-link {
    margin-bottom: 20px;
  }
  .image__play {
    right: 6%;
  }
  .features__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  .recipes__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app {
    margin-top: 60px;
  }
  .app__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .app__image {
    max-width: 50%;
    margin: 0 auto;
  }
  .app__content {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .app__title-h2 {
    margin-top: 30px;
  }
  .block-text__app-link {
    margin-bottom: 20px;
  }
  .feedback__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 50px;
  }
  .feedback__image {
    max-width: 60%;
    margin: 0 auto;
    padding-top: 15px;
  }
  .absolute__image-3 {
    display: none;
  }
  .absolute__image-2 {
    display: none;
  }
  .absolute__image-1 {
    display: none;
  }
  .absolute__image-8 {
    display: none;
  }
  .absolute__image-7 {
    display: none;
  }
  .absolute__image-4 {
    display: none;
  }
  .absolute__image-6 {
    top: -48%;
  }
}

@media screen and (max-width: 767.98px) {
  .absolute__image-6 {
    display: none;
  }
  .absolute__image-5 {
    display: none;
  }
  .explore-menu__container {
    text-align: center;
  }
  .block-text__link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__container {
    text-align: center;
  }
  .app__container {
    text-align: center;
  }
  .feedback__container {
    text-align: center;
  }
  .footer__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 40px;
  }
}

@media screen and (max-width: 374.98px) {
  br {
    display: none;
  }
  .footer__menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 50%;
            flex: 0 1 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */